@import "tailwindcss";

@layer base {

    html,
    body,
    #root {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        background-color: #030712;
        color: #ffffff;
        /* Smooth scrolling for your scroll indicator */
        scroll-behavior: smooth;
    }

    /* Hides horizontal scrollbar but keeps vertical scrolling */
    body {
        overflow-x: hidden;
    }
    button {
        cursor: pointer;
    }
}
